/* VARIABLES */
:root {
    --light-primary-color: #FFFFFF;
    --light-secondary-color: #F1F3FF;
    --dark-color: #000000;
    --blue-color: #0D28A6;
    --green-color: #5CB85F;

    --font-size-36: 36px;
    --font-size-24: 24px;
    --font-size-16: 16px;
    --font-size-14: 14px;
}

/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica";
    text-decoration: none;
}
img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

/* GLOBAL CSS */
section {
    padding-top: 100px;
}

li {
    margin: 15px;
}

.container {
    margin: 0;
}

.text-black {
    color: var(--dark-color);
}

.text-white {
    color: var(--light-primary-color);
}

.fs-36 {
    font-size: var(--font-size-36);
    font-weight: 700;
    line-height: 54px;
    text-decoration: none;
}

.fs-24 {
    font-size: var(--font-size-24);
    font-weight: 700;
    line-height: 36px;
    text-decoration: none;
}

.fs-16 {
    font-size: var(--font-size-16);
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
}

.fs-14 {
    font-size: var(--font-size-14);
    font-weight: 300;
    line-height: 20px;
    text-decoration: none;
}

.light-secondary-bg {
    background-color: var(--light-secondary-color);
}

.blue-bg {
    background-color: var(--blue-color);
}

.btn-green {
    background-color: var(--green-color);
    color: var(--light-primary-color);
    border-radius: 2px;
    border: none;
    gap: 10px;
    padding: 8px 12px 8px 12px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;  
}

/* CSS PER SECTION */

/* NAVBAR */
.nav-link {
    margin-right: 9px;
}

.btn-register {
    width: 81px;
    height: 36px;
}

/* MAIN MENU */
.main-menu-adjust {
    position: relative;
    height: 404px;
    align-items: center;
}

.btn-rent {
    width: 140px;
    height: 36px;
}

.img-car {
    max-width: 100%;
    height: auto;
}

/* OUR SERVICE */
.img-girl {
    max-width: 100%;
    height: auto;
}

.our-service-list ul li {
    gap: 16px;
    display: flex;
}

/* WHY US */
section .why-us-box {
    margin-top: 40px;
}

section .card {
    border-radius: 8px;
}

.why-us-card {
    min-width: 268px;
    min-height: 196px;
}

/* TESTIMONIAL */
section .carousel-control-prev-icon {
    background-image: url(public/assets/left_button.svg);
    width: 56.77px;
    height: 68px;
}

section .carousel-control-next-icon {
    background-image: url(public/assets/right_button.svg);
    width: 56.77px;
    height: 68px;
}

.testimonial-content {
    margin-bottom: 40px;
}

.img-profile {
    float: right;
    padding-right: 40.38px;
}

.testimonial-name {
    font-weight: 400px;
}

.carousel-style {
    max-width: 832px;
    min-height: 270px;
    margin: 0 auto;
    background-color: #F1F3FF;
    border-radius: 8px;
}

.carousel-item {
    max-width: 832px;
    min-height: 270px;
    padding: 69px 150.41px 69px 156px;
}

/* GET STARTED */
.get-started-adjust {
    /* max-width: 1168px;
    max-height: 326px; */
    border-radius: 13px;
    padding: 64px 0;
}

.btn-rent {
    width: 140px;
    height: 36px;
}

/* FAQ */
section .carousel-control-next-icon {
    background-image: url(public/assets/right_button.svg);
    width: 56.77px;
    height: 68px;
}

.faq-accordion {
    border-color: #D4D4D4;
    border: 1px;
    border-radius: 4px;
    margin: 16px;
}

/* FOOTER */

/* MOBILE RESPONSIVE */
@media (max-width: 576px) {
    .why-us-box {
        margin-top: 20px;
    }
    .why-us-card {
        max-width: 100%;
        margin-bottom: 20px;
    }
    .testimonial-text {
        font-size: 12px;
    }
    .testimonial-rate {
        width: 80px;
    }
    .carousel-item {
        padding-right: 32px;
        padding-left: 32px;
        text-align: center;
        padding: 20px;
    }
    .img-profile {
        max-width: 100px;
        margin-bottom: 20px;
    }
    .rate-wrapper {
        margin-bottom: 10px;
    }
}