* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica";
    text-decoration: none;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

section {
    padding: 20px 0;
}

section .btn-register {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;  
    background-color: #5CB85F;
    color: #FFFFFF;
    width: 81px;
    height: 36px;
    border-radius: 2px;
    border: none;
    gap: 10px;
}

section .btn-rent {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;  
    background-color: #5CB85F;
    color: #FFFFFF;
    width: 140px;
    height: 36px;
    border-radius: 2px;
    border: none;
    gap: 10px;
}

section .carousel-control-prev-icon {
    background-image: url(public/assets/left_button.svg);
}

section .carousel-control-next-icon {
    background-image: url(public/assets/right_button.svg);
}

.main-bg {
    background-color: #F1F3FF;
}

.h1-header-black {
    color: #000000;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
}

.h1-header-white {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
}

.h2-header {
    color: #000000;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

.content-text-black {
    color: #000000;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.content-text-white {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.card-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.img-flex {
    max-width: 100%;
    max-height: 100%;
}

.nav-link {
    margin-right: 30px;
}

.get-started-bg {
    width: 1168px;
    height: 326px;
    border-radius: 13px;
    background-color: #0D28A6;
}